.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

	border: 1px solid #FFFFFF;
  border-top: 0;
  border-bottom: 0;
	box-shadow: 5px 5px 16px 0 rgba(0,0,0,2); /* direita baixo fade tudo */
}

.tiger {
  width: auto;
  object-fit: contain;
  width: auto;
  height: auto;
}



@media screen and (max-width: 780px) {
  .tiger {
    max-width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .tiger {
    max-width: 70%;
  }

  .title {
    font-size: 24px;
  }
 
  .infoContent {
    flex-direction: column;
  }

  .box {
    width: 80%;
    margin-bottom: 14px;
    text-align: center;
  }
}