.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    width: 100%;
    max-width: 772px;
	background:#F1F1F7;	
	text-align:left;
	padding:20px 30px 30px 30px;
	font-size: 15px;
	font-weight:normal;
	color: #006;
}

.content p {
	margin: 0 0 15px 0; 
}
.content h3 {
	margin: 30px 0 15px 0; 
}

.content .title {
	padding: 5px;
	background-color: #3F5D7C;
	font-weight:bold;
	font-size: 15px;
	color: #FFFFFF;
	text-align:center;
	text-transform:none;
	text-decoration:none;
	margin-bottom: 20px;
}

.content .text {
	line-height:30px;
}

.imageGroup1 {
	width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.imageGroup1 .hkdPic1 {
    object-fit: contain;
    width: auto;
    height: auto;
    margin: 30px;
}

.imageGroup1 .hkdPic2 {
    object-fit: contain;
    width: auto;
    height: auto;
    margin: 30px;
}

.itemLeft .fbhImg {
    object-fit: contain;
    width: auto;
    height: auto;
}

.itemRight {
    padding-top: 32px;
}

.itemRight .fbhText{
	margin:0 auto;
	font: 27px "Times New Roman", Times, serif, Arial, Helvetica, sans-serif, Verdana, Tahoma;
	font-weight:normal;
	color:#FFFFFF;
}

.itemRight .bummooImg {
    object-fit: contain;
    width: auto;
    height: auto;
    margin-top:20px;
	margin-left:15px;
}