.footer {
	width: 100%;
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 0 18px;
    width: 100%;
    max-width: 770px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bottom{
	background-image: linear-gradient(to bottom, #000033, #000066 70%);
	height: 217px;
    display: flex;
    align-items: center;
    width: 100%;

    border-radius: 0px 0px 10px 10px; /* bordas arredondadas */
	border:1px solid #FFFFFF;
    border-top: 0px;
	box-shadow: 5px 5px 16px 0 rgba(0,0,0,2);
}

.leftFooter{
	width:109px;
	height:109px;
	float:left;
	margin-top:30px;
	margin-left:60px;
}
.rightFooter{	
	width:109px;
	height:109px;
	margin-top:30px;
	margin-right:60px;
	float:right;	
}
.centerFooter{	
	margin-left:100px;
	float:left;			
}
.followFacebook{
	margin-top:30px;
}
.rights{
	margin-top:20px;
	font-size: 10px;	
	font-weight:normal;
	color: #FFF;
	line-height:10px;
	text-align:center;
}
.cbhImg {
    object-fit: contain;
    width: auto;
    height: auto;
}
.facebookImg {
    object-fit: contain;
    width: auto;
    height: auto;
}
.wbmhfImg {
    object-fit: contain;
    width: auto;
    height: auto;
}