.container {
    margin-bottom: 10px;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
	background-image: linear-gradient(to top, #000033, #000066 90%);
	
    width: 100%;
    max-width: 772px;
	height:181px;	
    flex-direction: row;
    align-items: center;
	justify-content: center;
    display: flex;

	border-radius: 0px 0px 10px 10px; /* bordas arredondadas */
	border:1px solid #FFFFFF;
    border-top: 0px;
	box-shadow: 5px 5px 16px 0 rgba(0,0,0,2);
}

.itemLeft {
    margin: 0;
}

.itemLeft .cbhImg {
    object-fit: contain;
    width: auto;
    height: auto;
}

.itemCenter {	
	flex-direction: column;
	margin: 0 70px;
}

.itemCenter .rights {
	margin-top:20px;
	font-size: 10px;	
	font-weight:normal;
	color: #FFF;
	line-height:10px;
	text-align:center;
}

.itemCenter .facebookImg {
    object-fit: contain;
    width: auto;
    height: auto;
}

.itemRight {	
	margin: 0;
}

.itemRight .followFacebook {
	margin-bottom:30px;
}


.itemRight .wbmhfImg {
    object-fit: contain;
    width: auto;
    height: auto;
}